body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: rgb(255, 57, 57);
}


input {
	display: block;
}

img {
	max-width: 300px;
}


.content_img{
    position: relative;
    width: 200px;
    height: 200px;
    float: middle;
    margin-right: 10px;
}

.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover{
    cursor: pointer;
}    

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;        
}

body {
    background-image: url("https://i.redd.it/klqek785wz491.jpg");
    background-repeat: repeat;
	background-size: 100%;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px #000000;
  }

  #color {
      background-color: rgb(240, 240, 182);
      height:70px; 
      width:400x;
  }

  #place {
      background-color: rgb(240, 240, 182);
      height:70px; 
      width:400x;
  }

  #ritual {
      background-color: rgb(240, 240, 182);
      height:70px; 
      width:400x;
  }

  .radio-box-form {
      display: flex;
      align-items: flex-start;
  }

  /* #checkboxes {
      display: flex;
  } */

  .button:hover {
      cursor: pointer;
      border-radius: 15px;
  }