
* {
    margin: 0;
    padding: 0;
}

.topHeader {
    width: 100%;
    height: 17vh;
    background-color: #b7b5b5;
    display: flex;
}

.squareBox{
    width: 5%;
    height: 2vh;
    background-color: #6c5bbc;
}

.secondHeader {
    width: 100%;
    height: 30vh;
    background-color: #ffffff;
}
.secondHeader p {
    margin: 75px;
}

.thirdHeader {
    width: 100%;
    height: 25vh;
    background-color: #416d42;
}
.fourthHeader {
    width: 100%;
    height: 25vh;
    background-color: #41516d;
}

.fifthHeader {
    width: 100%;
    height: 25vh;
    background-color: #adb357;
}

.sixthHeader {
    width: 100%;
    height: 25vh;
    background-color: #e7a427;
}